// Primary
$pb: #375dc6;
$pr: #EB2132;

// Secondary
$sb: rgb(153, 221, 255);
$sg: rgb(211, 242, 181);
$sr: rgb(255, 189, 189);
$sy-low: rgb(255, 201, 92);
$sy-high: rgb(248, 166, 1);

// Black Spectrum
$bl-high: #090f0fde;
$bl-medium: rgba(10, 26, 26, 0.62);
$bl-low: rgba(8, 26, 26, 0.42);
$black-low:#959E9E;
$bl-ov24: rgba(3, 26, 26, 0.26);
$bl-ov12: rgba(6, 28, 28, 0.14);
$bl-ov08: rgba(6, 28, 28, 0.08);
$bl-ov04: rgba(6, 28, 28, 0.05);
$bl-ov02: rgba(6, 28, 28, 0.03);

// White Spectrum
$wh: #FFFFFF;
$wh-hover:#fafbfb;
$wh-active:#f3f4f4;

$success:#1EC94C;
$warning: #E8AE00;
